$basic-white: #fbfbfb;
$white: #F2F2F2;
$chambray-blue: #304F8C;
$gray: #5C6273;
$orange: #D9665B;
$queen-blue: #3B668C;
$yankees-blue: #212940;
$green: #45C295;

// MEDIA QUERIES BREAKPOINTS
$breakpoints: (phone: 640px,
  tablet: 768px,
  desktop: 1024px) !default;
